    


<div class="container" ng-controller="MenuController">

    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Menu</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Menu</h3>
            <hr>
        </div>
    </div>

    <div class="row row-content">

        <div class="col-xs-12">                    
            <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right"                    type="button">
                {{showDetails ? 'Hide Details':'Show Details'}}
            </button> 

            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)">The menu</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)">Appetizer</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)">Mains</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(4)}">
                    <a ng-click="select(4)">Dessert</a>
                </li>
            </ul>


            <div class="media" ng-repeat="d in dishes| filter:filtText">
                <div class="col-xs-12">
                    <div class="media-left media-middle">
                        <a ui-sref="app.dishdetails({id: d._id})">
                            <img class="media-object img-thumbnail" ng-src="{{d.image}}" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{d.name}} <span class="label label-danger">{{d.label}}</span>
                            <span class="badge">{{d.price| currency}}</span>
                        </h2>
                        <p ng-show="showDetails">{{d.description}}</p>
                    </div>                            
                </div>
            </div>
        </div>

    </div>

</div>






